<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OPAS_ETL_Connection" connectionString="server=172.27.139.178;database=AITool;uid=sa;password=Merit$123;" />
  </connectionStrings>
  <appSettings>
    <add key="folderPath" value="D:\"/>
    <add key="automationToolUrl" value="http://localhost:4200/tickets/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>